*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    cursor: pointer;
}
a{
    text-decoration: none;

}
.btn{
    border-radius: 10px ;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 500;
    width: fit-content;
    transition: .3s;
}

/*start color */

/*start display */

.d-f{
    display: flex;
}
.d-b{
    display: block;
}
.jc-sb{
    justify-content: space-between;
}
.jc{
    justify-content: center;
}
.jc-sa{
    justify-content: space-around;
}
.jc-se{
    justify-content: space-evenly;
}
.ai-c{
    align-items: center;
}
.w-full{
    width: 100%;
}
.d-grid{
    display: grid;
}
.gap-20{
    gap: 20px;
}
.gap-10{
    gap: 10px;
}
.fd-col{
    flex-direction: column;
}
.d-none{
    display: none;
}
@media(max-width:767px){
    .d-none-sm{
        display: none;
    }
    .fd-col-sm{
        flex-direction: column;
    }
    .d-b-sm{
        display: block;
    }
    .mb-10{
        margin-bottom: 10px;
    }
    .w-full-sm{
        width: 100%;
    }
    .fd-colr-sm{
        flex-direction: column-reverse;
    }
    
}
.f-wrap{
    flex-wrap: wrap;
}
/*end dispaly */

/*start padding margin */
.p-5{
    padding: 5;
}
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}
.pb-10{
    padding-bottom:10px ;
}
.pb-15{
    padding-bottom:15px ;
}
.pb-20{
    padding-bottom:20px ;
}
.pt-10{
    padding-top:10px ;
}
.pt-15{
    padding-top:15px ;
}
.pt-20{
    padding-top:20px ;
}
.m-20{
    margin: 20px;
}
.m-15{
    margin: 15px;
}
.m-10{
    margin: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-0{
    margin-top: 0;
}
.mt-10{
    margin-top: 10px;
}
.mr-5{
    margin-right: 5px;
}
.mt-0{
    margin-top: 0px;
}
.mt-20{
    margin-top: 20px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}

/*end padding margin */

/*start color */
.bg-white{
    background-color: white;
}
.c-black{
    color: black;
}
.c-white{
    color: white;
}
/*end color */

/*start position border */

.pr{
    position: relative;
}
.pa{
    position: absolute;
}


.br-50{
    border-radius:50% ;
}
.br-5{
    border-radius: 5px;
}
.br-6{
    border-radius: 6px;
}
.br-10{
    border-radius: 10px;
}

/*end position */

/*start text */
.ta{
    text-align: end;
}
.tc{
    text-align: center;
}
@media(max-width:767px){
    .tc-sm{
        text-align: center;

    }
}
.line-16{
    line-height: 1.6;
}
.fs-14{
    font-size: 14px;
}
.fs-13{
    font-size: 13px;
}
.fs-15{
    font-size: 15px;
}
/*end text */
/*start compo */
.c-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*end compo */
.border-ccc{
    border: 1px solid #ccc;
}
.border-eee{
    border: 1px solid #eee;
}

